

toke=pk.d2715820e604dea1ed1982a20332f3f9


SUPABASE_URL=https://pskrbchbzdlvmopajyig.supabase.co
SUPABASE_KEY=sb_publishable_igfN2_vFf6xcYIX6RDtKnw_ODb9icl4
SUPABASE_ANON_KEY=sb_publishable_igfN2_vFf6xcYIX6RDtKnw_ODb9icl4

FOURSQUARE_API_KEY=MOFXWSGFJ3HLMZ3NLZFNBQPUOAC0D5O5INGKA4WXV1IQOYMS
LOCATIONIQ_API_KEY=pk.d2715820e604dea1ed1982a20332f3f9
GOOGLE_AI_API_KEY=AIzaSyAE2jm_U6WUTY6rGqLDC2BxxKqc4OCyiXY
